*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --max-width: 1200px;
  --fs-xl: clamp(1rem, 2vw + 1rem, 3rem);
  --fs-400: clamp(1rem, 1vw + 0.25rem, 1.5rem);
  --fs-500: clamp(1.1rem, 1vw + 0.5rem, 2rem);
  --title-bg-color: #373741;
  --font-color: #e1d8cf;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  font-size: var(--fs-400);
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-top: 80px;
}
ul {
  margin: 0;
  padding: 0 clamp(0.3rem, 0.5rem, 1rem);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: 60px;
  padding-left: 1rem;
  padding-top: 1rem;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #941ed2;
  z-index: 2;
}
.header__menu {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
}
.burger__button {
  display: none;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__list li {
  margin-right: 1.5rem;
  z-index: 2;
}
.header__link {
  color: var(--font-color);
}
.title {
  font-family: "Aleo", serif;
  font-size: var(--fs-xl);
  margin: 0;
  text-align: center;
  letter-spacing: 0.25rem;
}
.subtitle {
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: 400;
}
.content__header {
  font-family: "Aleo", serif;
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: var(--title-bg-color);
  color: var(--font-color);
  padding: 1rem;
}
.content__header::before {
  padding-right: 0.5rem;
}
td:nth-child(2n + 1) {
  padding-right: clamp(0.5rem, 1rem, 1.25rem);
  padding-left: clamp(0.5rem, 1rem, 1.25rem);
}
.personalInfo-image {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.personalInfo-image img {
  border-radius: 50%;
  max-width: 15rem;
  width: 100%;
}
.overflow-scroll {
  overflow: scroll;
}
.left-side {
  background-color: var(--font-color);
  width: clamp(50%, 30%, 100%);
  padding-top: 3rem;
  height: fit-content;
}
.right-side {
  width: clamp(50%, 70%, 100%);
}
.content {
  padding: 0 1rem;
  margin: 2rem auto;
}
.left-side > .content {
  margin-bottom: 3rem;
}
.creator {
  background-color: var(--title-bg-color);
  min-height: clamp(10rem, 10rem + 5vw, 25rem);
  color: rgb(225 216 207);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts__list li {
  margin-bottom: 1rem;
}
.contacts__list li::before {
  padding-right: clamp(0.3rem, 0.5rem, 1.2rem);
  color: #4e4ee6;
}
.footer {
  display: flex;
  padding: 1rem;
}
.footer__content {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.4rem;
}
.rs_school_img,
.youtube_img,
.github_img {
  max-width: 10rem;
  width: 100%;
  max-height: 2rem;
}

.rs_school_img:hover,
.youtube_img:hover,
.github_img:hover {
  filter: invert(21%) sepia(65%) saturate(3471%) hue-rotate(215deg)
    brightness(84%) contrast(98%);
}
