@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?t9djaw");
  src: url("../fonts/icomoon.eot?t9djaw#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?t9djaw") format("truetype"),
    url("../fonts/icomoon.woff?t9djaw") format("woff"),
    url("../fonts/icomoon.svg?t9djaw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-books:before {
  content: "\e920";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-phone:before {
  content: "\e942";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
